APP_ENV=development

APP_EXPOSE_PORT=6601

DB_EXPOSE_PORT=6602
DB_NAME=student_management_system
DB_USER=sms-admin
DB_PASSWORD=SMS@123

DATABASE_URL="postgresql://sms-admin:SMS@123@db:5432/student_management_system?schema=public"

# Use this for local development with a local Postgres instance 
# If you're running migrations and seeders from host machine
# DATABASE_URL="postgresql://sms-admin:SMS@123@localhost:6602/student_management_system?schema=public"